<meta charset="utf-8">
  <title>The Palmarius Wiki - A Masterpiece Project</title>

  <!-- Materialize CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/materialize/css/materialize.min.css" />

  <!-- jQuery -->
  <script src="/vendor/jquery/jquery.min.js"></script>

  <!-- Materialize JS -->
  <script src="/vendor/materialize/js/materialize.min.js"></script>

  <!-- Application Styles -->
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Application JS -->
  <script src="/js/app.js"></script>
