<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title></title>

      <!-- Materialize CSS -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/vendor/materialize/css/materialize.min.css" />

      <!-- Application Styles -->
      <link rel="stylesheet" href="/css/style.css" />

      <!-- jQuery -->
      <script src="/vendor/jquery/jquery.min.js"></script>

      <!-- Materialize JS -->
      <script src="/vendor/materialize/js/materialize.min.js"></script>

      <!-- Application JS -->
      <script src="/js/app.js"></script>
  </head>
  <body>

    <header class="z-depth-1">
      <span class="hamburger-menu">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="large material-icons icon-red lighten-5">menu</i></a>
      </span>
        <h1> Palmarius Wiki</h1>
        <p> The place for all things Masterpiece cohort</p>

    </header>

<!-- Start side-nav -->
      <div id="slide-out" class="side-nav fixed">
        <img src="/img/ga-logo.jpg" width="150px" /><br/>

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
<!-- End side-nav -->


      <div id="content-wrapper">
        <div id="main-content">
          <h3> Welcome to the wiki!</h3>
          <p> This is the CRUD wiki appliciation for Palamarius student notes. Below, you'll find a list of articles. To add a new article, click the "new" button. For questions, ask someone else</p>
            <div class="collection">
              <% articles.forEach( article => { %>
                <a href="#!" class="collection-item"><%= article.subject %></a>
              <% }) %>
            </div>
        </div>
      </div>





  </body>
</html>
